<ion-list class="ion-no-padding" mode="ios" lines="none">
  <ion-item class="">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterItems()"></ion-searchbar>
  </ion-item>
  <ion-item class="">
    <ion-segment size="small" mode="ios" [(ngModel)]="searchType" (ionChange)="filterItems()">
      <ion-segment-button value="in">
        <ion-label color="success">In</ion-label>
      </ion-segment-button>
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="out">
        <ion-label color="danger">Out</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
</ion-list>

<ion-list lines="full">
  <span *ngFor="let student of studentsForSearch; index as i;  ">
    <ion-item [hidden]="hideStudent(student)" (click)="save()">
      <ion-label>{{ student.name }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="_class.attendanceList[i].isAttendant"></ion-checkbox>
    </ion-item>
  </span>
</ion-list>