<mat-toolbar class="toolbar" color="primary">
  <a [routerLink]="['/courses']" mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>Nova Course</span>
</mat-toolbar>

<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<div class="content">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field [floatLabel]="floatLabel">
      <mat-label>Nome da course</mat-label>
      <input matInput placeholder="Course C" formControlName="nomeCourse" required>
    </mat-form-field>
    <div>
      <button type="submit" mat-raised-button color="primary" >Criar</button>
    </div>
  </form>
</div>
