<mat-toolbar class="toolbar" color="primary">
  <a [routerLink]="['/turma']" mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>Turma A</span>
  <span class="flex-spacer"></span>
  <!-- <button mat-icon-button aria-label="Buscar menus">
          <mat-icon>search</mat-icon>
        </button> -->
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <span class="mat-caption">
    Options selected: {{alunos.selectedOptions.selected.length}}
  </span>
</div>
<mat-selection-list #alunos class="no-padding">
  <mat-divider></mat-divider>
  <mat-list-option>
    Fernanda
  </mat-list-option>
  <mat-divider></mat-divider>
  <mat-list-option>
    Jenifer
  </mat-list-option>
  <mat-divider></mat-divider>
  <mat-list-option>
    Guilherme
  </mat-list-option>
  <mat-divider></mat-divider>
</mat-selection-list>
