<ion-list lines="full">
  
  <ion-item *ngIf="options.length == 0" class="ion-text-center">
    <ion-label color="medium">Add at least one option</ion-label>
  </ion-item>

  <ion-item *ngFor="let option of options; let i = index" (click)="createModal(option)">
    <ion-chip color="secondary" *ngIf="option.type == 'PerClass'">
      <ion-label>Per Class</ion-label>
    </ion-chip>
    <ion-chip color="tertiary" *ngIf="option.type == 'PerDay'">
      <ion-label>Per Day</ion-label>
    </ion-chip>
    <ion-label>
      R$ {{ option.price }} per {{ option.quantity }}
      <span *ngIf="option.type == 'PerClass'"> classes</span>
      <span *ngIf="option.type == 'PerDay'"> days</span>
    </ion-label>
  </ion-item>

</ion-list>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button (click)="createModal()" size="small">
    <ion-icon size="small" name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>