<div class="content">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-slide-toggle #slider (change)="habilitarLink(slider.checked)">Habilitar e copiar link!</mat-slide-toggle>
    <mat-form-field [floatLabel]="floatLabel">
      <!-- <mat-label>Link de cadastro do aluno</mat-label> -->
      <input matInput matTooltip="Copiar" value="http://chamada.com.br/354/turmas/158" readonly>
      <!-- <button mat-raised-button>
          <mat-icon matTooltip="Copiar" [matTooltipPosition]="before" matRipple matSuffix color="primary">file_copy
          </mat-icon>
        </button> -->
      <!-- <button matSuffix mat-raised-button  color="primary">Copiar</button> -->
    </mat-form-field>
    <span class="mat-caption">
      Compartilhe este link com seus alunos para que eles se auto cadastrem na sua turma.
      É simples e rápido! (não requer login) <br>
    </span>
    <br>
    <section>
      <span class="mat-caption">
        Ou você mesmo pode cadastra-lo(a):<br>
      </span>
    </section>
    <mat-form-field [floatLabel]="floatLabel">
      <mat-label>Nome do aluno(a)</mat-label>
      <input matInput [(ngModel)]="nomeAluno" name="nomeAluno" required>
    </mat-form-field>
    <div class="flex">
      <button mat-raised-button matRipple color="primary" type="submit">Adicionar</button>
      <span class="flex-spacer"></span>
    </div>
  </form>
</div>
