<mat-toolbar class="toolbar" color="primary">
  <a [routerLink]="['/courses']" mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>{{course.nome}}</span>
  <span class="flex-spacer"></span>
  <!-- <button mat-icon-button aria-label="Buscar menus">
        <mat-icon>search</mat-icon>
      </button> -->
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-tab-group class="tab-toolbar" backgroundColor="primary">
  <mat-tab label="Chamada">
    <app-chamadas></app-chamadas>
  </mat-tab>
  <mat-tab label="Alunos">
    <app-alunos [alunos]="course.alunos" ></app-alunos>
  </mat-tab>
  <mat-tab label="Adicionar">
    <app-adicionar-alunos [courseId]="course.nome" (adicionarAlunoNaLista)="adicionarAlunoNaLista($event)">
    </app-adicionar-alunos>
  </mat-tab>
</mat-tab-group>
