
<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">JumbaZ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-slides #slides (ionSlideTouchEnd)="updateSegment()" [options]="slideOpts">
    
    <ion-slide #slidePackages>

      <app-packages-slide #packagesComponent></app-packages-slide>

      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button routerLink="/packages/new" size="small">
          <ion-icon size="small" name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <ion-slide #slideClasses>
      <app-classes-slide #classesComponent></app-classes-slide>
      
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button routerLink="/masterClasses/new" size="small">
          <ion-icon size="small" name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <ion-slide #slideStudents>
      <app-students-slide #studentsComponent></app-students-slide>
      
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button routerLink="/students/new" size="small">
          <ion-icon size="small" name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer mode="md">
  <ion-segment [(ngModel)]="segment" (ionChange)="updateSlide()">
    <ion-segment-button value="packages">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Packages</ion-label>
    </ion-segment-button>
    <ion-segment-button value="classes">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label>Classes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="students">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label size="small">Students</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>