<div class="content">
  <!-- <section class="field">
      <button class="acoes" [routerLink]="[ '/course/chamada']" mat-raised-button color="primary">Fazer chamada!</button>
    </section> -->
  <section class="field">
    <a [routerLink]="['chamada']" class="acoes" mat-raised-button color="primary">Marcar presentes</a>
  </section>
  <section class="field">
    <a [routerLink]="['chamada']" class="acoes" mat-raised-button color="accent">Desmarcar ausentes</a>
  </section>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Hoje
      </mat-panel-title>
      <!-- <mat-panel-description>
            Type your name and age
          </mat-panel-description> -->
    </mat-expansion-panel-header>
    <mat-list class="no-padding">
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Aula x - 13:30</h3>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Aula y - 15:07</h3>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Recentes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list class="no-padding">
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Aula x - 30/06 13:30</h3>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Aula y - 30/06 15:07</h3>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Aula y - 29/06 13:05</h3>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Aula y - 29/06 15:07</h3>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Aula y - 28/06 15:07</h3>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
