/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$default-space: 1em;
$field-space: ($default-space * (2/3));
$minimal-space: ($default-space / 3);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
  display: flex;
}

.flex-spacer {
  flex: 1 1 auto;
}

.content {
  padding: $default-space;
}

.toolbar {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;

  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.btn-float {
  position: fixed !important;
  bottom: $default-space;
  right: $default-space;
  @media(min-width: 1024px) {
     bottom: ($default-space * 1.5);
     right: ($default-space * 1.5);
 }
}

form section, section.field {
  margin-bottom: $field-space;
}

mat-form-field {
  width: 100%;
}

.no-padding, .no-padding .mat-form-field-wrapper {
  padding: 0 !important;
}

.rs-icon {
  margin-right: $minimal-space;
}





/* turma */

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
 box-shadow: 0 !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border: 0 !important;
}




/* manter toolbar fixo */

// .mat-toolbar{
//   z-index: 999;
//   position: fixed;
//   margin: 0 !important;
// }
.mat-tab-group{
  // margin-top:55px !important;
}

.mat-tab-header{
      z-index: 999;
      width:100vw;
      position: fixed  !important;
}
.mat-tab-body-wrapper{
    position: relative !important;
    margin-top:55px;
}
